<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Advisor - Robo Advisor</title>
</head>

<body>
    <header>
        <h1>Intelligent Advisor</h1>
    </header>
    <!-- <main> -->
    <br>
    <div class="advisor">
        <div class="advisor-next">
            <h2>Welcome to the Intelligent Advisor!</h2>
            <!-- <p>Our intelligent advisor can help you to make better financial decisions.</p> -->
            <p>A Digital Twin for Financial advisor </p>
        </div>
    </div>

    <br>
    <br>

    <div class="chatbot">
        <div class="image-container">
            <img class="shadow-image" src="../assets/images/microphone-2.png" alt="Image" />
        </div>
        <h3>ASK NOW. . .</h3>
        <div class="chat-user"><b>WM Advisor : </b>Let me know the details about the client scott ?</div>
        <div class="chat-message"><b>Advisor Gene : </b>Here you go - <a href="/dashboard">Click here</a> for details</div>
    </div>

    <br>

    <!-- </main> -->

    <footer>
        <p>&copy; 2023 Intelligent Advisor. All rights reserved.</p>
    </footer>
</body>



</html>