<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1>Intelligent Advisor</h1>
    </header>

    <br>
    <div class="profile">
        <div class="profile-next">
            <h2>John Gomez</h2>
            <p>A Digital Twin for Financial advisor</p>
            <p><b>User Id :</b> 123456</p>
            <p><b>Address :</b> </p>
            <p><b>Retirement Age :</b> 123456</p>
            <p><b>Contact No. :</b> 123456</p>
        </div>
    </div>

    <br>
    <div class="progress">
        <div class="progress-analysis">
            <h3>Progress Analysis</h3>
            <p>Sub details</p>

            <div class="progress-boxex">
                <p>Asset Performance</p>
            </div>
            <br>
            <div class="progress-boxex">
                <p>Asset Allocation</p>
            </div>
            <br>
            <div class="progress-boxex">
                <p>Risk + Reward</p>
            </div>
            <br>
            <div class="progress-boxex">
                <p>Wealth Simulation</p>
            </div>
            <br>
            <div class="progress-boxex">
                <p>cash Flow</p>
            </div>
        </div>
    </div>

    <br>
    <div class="goals">
        <div class="goals">
            <h3>Goals & Factors of Success</h3>
            <p>Sub details</p>

            <div class="goals-boxex">
                <p>Retirement</p>
            </div>
            <br>
            <div class="goals-boxex">
                <p>Education</p>
            </div>
            <br>
            <div class="goals-boxex">
                <p>Other</p>
            </div>
        </div>
    </div>

    <br>

    <div class="asset">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>

    <br>

    <footer>
        <p>&copy; 2023 Intelligent Advisor. All rights reserved.</p>
    </footer>
</body>


</html>